DATABASE_URL="file:./dev.db"
JWT_SECRET="altere-para-uma-chave-secreta-forte-aqui-123456"
NODE_ENV="production"
PORT=3005

# URL pública da sua aplicação (IP da VPS ou Domínio com HTTPS)
# Exemplo: https://meusistema.com.br
NEXT_PUBLIC_APP_URL="http://localhost:3005"
